<!-- wp:ourblocktheme/header /-->

<!-- wp:ourblocktheme/banner -->
<!-- wp:ourblocktheme/genericheading {"text":"Welcome!"} -->
<!-- Old tag for old theme blocks -->
<!-- <h1 class="wp-block-ourblocktheme-genericheading headline headline--large">Welcome!</h1> -->
<h1 class="headline headline--large">Welcome!</h1>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"We think you'll like it here.","size":"medium"} -->
 <!-- Old tag for old theme blocks -->
<!-- <h2 class="wp-block-ourblocktheme-genericheading headline headline--medium">We think you'll like it here.</h2> -->
<h2 class="headline headline--medium">We think you'll like it here.</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"Why don't you check on the \u003cstrong\u003emajor \u003c/strong\u003eyou're interested in?","size":"small"} -->
<!-- Old tag for old theme blocks -->
<!-- <h3 class="wp-block-ourblocktheme-genericheading headline headline--small">Why don't you check on the <strong>major </strong>you're interested in?</h3> -->
<h3 class="headline headline--small">Why don't you check on the <strong>major </strong>you're interested in?</h3>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Find your Major","linkObject":{"url":"/programs"},"colorName":"dark-orange"} -->
 <!-- Old tag for old theme blocks -->
<!-- <a href="/programs" class="wp-block-ourblocktheme-genericbutton btn btn--large btn--dark-orange">Find your Major</a> -->
<a href="/programs" class="btn btn--large btn--dark-orange">Find your Major</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/banner -->

<!-- wp:ourblocktheme/slideshow -->
<!-- wp:ourblocktheme/slide {"themeimage": "bus.jpg"} -->
<!-- wp:ourblocktheme/genericheading {"text":"Slide #1 Example Test","size":"medium"} -->
<!-- Old tag for old theme blocks -->
<!-- <h2 class="wp-block-ourblocktheme-genericheading headline headline--medium">Slide #1 Example Test</h2> -->
<h2 class="headline headline--medium">Slide #1 Example Test</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Learn More","size":"medium","colorName":"dark-orange"} -->
  <!-- Old tag for old theme blocks -->
<!-- <a href="/" class="wp-block-ourblocktheme-genericbutton btn btn--medium btn--dark-orange">Learn More</a> -->
<a href="/" class="btn btn--medium btn--dark-orange">Learn More</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/slide -->

<!-- wp:ourblocktheme/slide {"themeimage": "apples.jpg"} -->
<!-- wp:ourblocktheme/genericheading {"text":"Slide #2 Example Test","size":"medium"} -->
 <!-- Old tag for old theme blocks -->
<!-- <h2 class="wp-block-ourblocktheme-genericheading headline headline--medium">Slide #2 Example Test</h2> -->
<h2 class="headline headline--medium">Slide #2 Example Test</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Learn More!","size":"medium"} -->
  <!-- Old tag for old theme blocks -->
<!-- <a href="/" class="wp-block-ourblocktheme-genericbutton btn btn--medium btn--blue">Learn More!</a> -->
<a href="/" class="btn btn--medium btn--blue">Learn More!</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/slide -->
<!-- /wp:ourblocktheme/slideshow -->

<!-- wp:ourblocktheme/eventsandblogs /-->

<!-- wp:ourblocktheme/footer /-->